version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "sfc-gh-mkeller"
    reviewers:
      - "snowflakedb/snowpark-python-api"
