exclude: '^src/snowflake/connector/vendored.*$'
repos:
-   repo: meta
    hooks:
        - id: check-hooks-apply
        - id: check-useless-excludes
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: trailing-whitespace
        exclude: >
            (?x)^(
                src/snowflake/connector/nanoarrow_cpp/ArrowIterator/flatcc/.*\.h|
                src/snowflake/connector/nanoarrow_cpp/ArrowIterator/nanoarrow_ipc.c|
            )$
    -   id: end-of-file-fixer
        exclude: >
            (?x)^(
                license_header.txt|
                src/snowflake/connector/nanoarrow_cpp/ArrowIterator/flatcc/.*\.h|
            )$
    -   id: check-yaml
        exclude: .github/repo_meta.yaml
    -   id: debug-statements
    -   id: check-ast
-   repo: https://github.com/asottile/yesqa
    rev: v1.5.0
    hooks:
    -   id: yesqa
-   repo: https://github.com/mgedmin/check-manifest
    rev: "0.49"
    hooks:
    -   id: check-manifest
-   repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
        - id: isort
        - id: isort
          name: insert future imports
          args:
              - -a
              - from __future__ import annotations
              - --append-only
          files: ^src/snowflake/connector/.*\.py$
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
        - id: pyupgrade
          args: [--py38-plus]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.10.0'
    hooks:
    -   id: mypy
        files: |
            (?x)^src/snowflake/connector/(
                constants
                | compat
                | dbapi
                | description
                | errorcode
                | feature
                | file_compression_type
                | file_util
                | gzip_decoder
                | proxy
                | secret_detector
                | sfbinaryformat
                | snow_logging
                | sqlstate
                | ssd_internal_keys
                | test_util
                | util_text
                | url_util
                | version
                | config_parser
            ).py$
        additional_dependencies:
            - types-requests
            - types-urllib3
            - types-setuptools
            - types-pyOpenSSL
            - types-setuptools
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
        - id: black
          args:
              - --safe
          language_version: python3
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v17.0.6
  hooks:
  - id: clang-format
    types_or: [c++, c]
    exclude: >
        (?x)^(
            src/snowflake/connector/nanoarrow_cpp/ArrowIterator/flatcc/.*\.h|
        )$
