exclude: '^(.*egg.info.*|.*/parameters.py|src/snowflake/connector/vendored/.*/).*$'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
        exclude: license_header.txt
    -   id: check-yaml
        exclude: .github/repo_meta.yaml
    -   id: debug-statements
    -   id: check-ast
-   repo: https://github.com/Lucas-C/pre-commit-hooks.git
    rev: v1.1.13
    hooks:
    -   id: insert-license
        name: insert-py-license
        files: >
            (?x)^(
                src/snowflake/connector/.*\.pyx?|
                test/.*\.py|
            )$
        exclude: >
            (?x)^(
                src/snowflake/connector/version.py|
                src/snowflake/connector/cpp|
            )$
        args:
            - --license-filepath
            - license_header.txt
    -   id: insert-license
        name: insert-cpp-license
        files: src/snowflake/connector/cpp/.*\.(cpp|hpp)$
        exclude: version.py$
        args:
            - --comment-style
            - //
            - --license-filepath
            - license_header.txt
-   repo: https://github.com/asottile/yesqa
    rev: v1.3.0
    hooks:
    -   id: yesqa
-   repo: https://github.com/mgedmin/check-manifest
    rev: "0.48"
    hooks:
    -   id: check-manifest
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
        - id: isort
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.31.1
    hooks:
        - id: pyupgrade
          args: [--py37-plus]
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear == 20.11.1
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
        - id: black
          args:
              - --safe
          language_version: python3
