include *.md
include *.rst
include LICENSE.txt
include NOTICE
include pyproject.toml
include src/snowflake/connector/nanoarrow_cpp/ArrowIterator/LICENSE.txt
recursive-include src/snowflake/connector py.typed *.py *.pyx
recursive-include src/snowflake/connector/vendored LICENSE*

recursive-include src/snowflake/connector/nanoarrow_cpp *.cpp *.hpp
recursive-include src/snowflake/connector/nanoarrow_cpp *.c *.h
exclude src/snowflake/connector/nanoarrow_cpp/ArrowIterator/nanoarrow_arrow_iterator.cpp
exclude src/snowflake/connector/nanoarrow_cpp/scripts/.clang-format
exclude src/snowflake/connector/nanoarrow_cpp/scripts/format.sh

exclude .git-blame-ignore-revs
exclude .pre-commit-config.yaml
exclude license_header.txt
exclude tox.ini
exclude mypy.ini

prune ci
prune benchmark
prune test
prune tested_requirements
prune src/snowflake/connector/nanoarrow_cpp/scripts
prune __pycache__
prune samples
