name: Jira creation

on:
  issues:
    types: [opened]

jobs:
  create-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: create
        id: create
        uses: ./.github/actions/gajira-create
        env:
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
        with:
          PROJECT: SNOW
          TYPE: Bug
          AREA: "Data Platform: Ecosystem"
          ASSIGNEE: triage-data_platform_drivers_cli-dl
          SUMMARY: "{{ event.issue.title }}"
          DESCRIPTION: "{{ event.issue.body }}\n\n_Created from GitHub Action_"
      - name: update issue
        uses: ./.github/actions/gajira-issue-update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          issue_number: "{{ event.issue.id }}"
          owner: "{{ event.repository.owner.login }}"
          name: "{{ event.repository.name }}"
          jira: "${{ steps.create.outputs.issue }}"
