name: Jira creation

on:
  issues:
    types: [opened]

jobs:
  create-issue:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.user.login != 'whitesource-for-github-com[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login
        uses: atlassian/gajira-login@v2.0.0
        env:
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}

      - name: Create
        id: create
        uses: atlassian/gajira-create@v2.0.1
        with:
          project: SNOW
          issuetype: Bug
          summary: '${{ github.event.issue.title }}'
          description: |
            "${{ github.event.issue.body }} \\ \\ _Created from GitHub Action_ for ${{ github.event.issue.html_url }}"
          fields: '{ "customfield_11401": {"id": "12360"}, "assignee": {"id": "61027a219798100070592b20"} }'

      - name: update issue
        uses: ./.github/actions/gajira-issue-update
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          issue_number: "{{ event.issue.id }}"
          owner: "{{ event.repository.owner.login }}"
          name: "{{ event.repository.name }}"
          jira: "${{ steps.create.outputs.issue }}"
