name: Jira closure

on:
  issues:
    types: [closed, deleted]

jobs:
  close-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: snowflakedb/gh-actions
          ref: jira_v1
          token: ${{ secrets.SNOWFLAKE_GITHUB_TOKEN }} # stored in GitHub secrets
          path: .
      - name: Jira login
        uses: atlassian/gajira-login@master
        env:
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
      - name: Extract issue from title
        id: extract
        env:
          TITLE: "${{ github.event.issue.title }}"
        run: |
          jira=$(echo -n $TITLE | awk '{print $1}' | sed -e 's/://')
          echo ::set-output name=jira::$jira
      - name: Close issue
        uses: ./jira/gajira-close
        if: startsWith(steps.extract.outputs.jira, 'SNOW-')
        with:
          issue: "${{ steps.extract.outputs.jira }}"
